@{
    ViewBag.Title = "Home Page";
}

@model List<ParsedComponent>

<table border='1' style='border-collapse: collapse;'>

    <tr>
        <td>PartNumber</td>
        <td>Кол-во</td>
        <td>Цена</td>
    </tr>
    @foreach (ParsedComponent item in Model)
    {
<tr>
    <td>@item.PartNumber</td>
    <td>@item.Amount</td>
    <td>@item.Price</td>
</tr>}
</table>
<div>@ViewBag.ParsedHtml</div>
@*<div>@ViewBag.ParsedAmount</div>*@
